secrets = {
    'ssid' : 'yourmom',
    'password' : 'xxxx',
    'aio_username' : 'xxxx',
    'aio_key' : 'xxxx',
    'city_id' : 'xxxx',
    'openweather_token' : 'xxxx',
    'celcius': False,
    'timezone': 'America/Chicago'
}
